form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center; 
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input, textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(228, 165, 42); 
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(228, 165, 42); 
  }
  