.userInfoSection {
  margin-bottom: 1.25rem; 
}

.userInfoSection form {
  display: flex;
  flex-direction: column;
}

.userInfoSection form div {
  margin-bottom: 0.625rem; 
}

.userInfoSection form label {
  margin-right: 0.625rem; 
}

.userInfoSection form input {
  padding: 0.3125rem; 
  font-size: 1rem;
}
